<section id="registration">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <mat-card >
          <form [formGroup]="registerForm">
            <div style="color:red" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Passwords do not match</div>
            <div class="registration-container">
                <mat-form-field>
                    <input matInput type="text" placeholder="Name"  required formControlName="name">
                    <mat-error>Name is required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <input type="email" matInput placeholder="Email"  required formControlName="email" >
                      <mat-error> Email is required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <input type="password" matInput placeholder="Password"  required formControlName="password" >
                      <mat-error >Password is required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                      <input type="password" matInput placeholder="Confirm Password" required  formControlName="confirmPassword">
                      <mat-error >Confirm password is required</mat-error>
                  </mat-form-field>
                  <mat-checkbox color="primary" formControlName="isAdmin">Register as Admin</mat-checkbox>
                  <button type="button" class="mt-3" mat-raised-button color="primary" [disabled]="!registerForm.valid" (click)="register()">Register</button>
            </div>
          </form>
          <p class="mt-3">Already registered? <b><a [routerLink]="['/Login']" routerLinkActive="router-link-active" >Login</a></b></p>
        </mat-card>
      </div>
    </div>
  </div>
</section>