<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md">
      <div class="carousel">
          <carousel>
              <slide>
                  <video src="https://images2.vudu.com/uiEntry/29816/video.mp4" autoplay></video>
              </slide>
              <slide>
                <img src="https://images2.vudu.com/uiEntry/29817/placard-1500.jpg" alt="first slide">
              </slide>
              <slide>
                  <video src="../../assets/images/video.mp4" autoplay></video>
              </slide>
              <slide>
                <img src="https://images2.vudu.com/uiEntry/29824/placard-1500.jpg" alt="second slide" >
              </slide>
          </carousel>
      </div>
    </div>
  </div>
</div>

<div class="container allMovies text-center">
    <div *ngFor="let genreMovie of genreMovies" class="movie-container">
        <h2 class="mb-5">{{genreMovie.genre.name | titlecase}}</h2>
        <div class="row">
          <div *ngFor="let movie of genreMovie.movies">
              <div>
                <a [routerLink]="['/movies', movie.title]" ><img [src]="movie.image" alt="{{movie.title}}" class="ml-4 movie-image mb-4"></a>
              </div>    
          </div>
        </div>
    </div>
</div>
