.carousel {
    width: 100%;
    display: block;
    margin-top: 65px;
}

.col-md {
    padding: 0;
    width: 100%;
}

img {
    width: 100%;
}

video {
    width: 100%;
}


.movie-image {
    width: 90px;
}

@media screen and (min-width: 767px) {
    .movie-image {
        width: 180px;
    }
}
