<div class="container">
  <div class="row">
    <div class="col-md offset-md-2">
      <h1 *ngIf="movies?.length === 0">No items in cart</h1>
      <h2 class="text-center text-warning" *ngIf="movies?.length !== 0">{{movies?.length}} item(s) in cart</h2>
      <div class="list-inline float-right">
          <p class="list-inline-item mr-5" *ngIf="movies?.length !== 0">Total</p>
          <p class="list-inline-item ml-5 text-warning" *ngIf="movies?.length !== 0">${{totalPrice}}</p>
          <br>
          <button *ngIf="movies?.length !== 0" class="btn btn-primary pl-5 pr-5 text-center mb-5" (click)="openModal(template)">Checkout</button>
      </div>
      <div *ngFor="let movie of movies">
          <div class="list-inline">
            <div class="list-inline-item">
                <h6>{{movie?.movieTitle | titlecase}}</h6>
                <img [src]="movie.movieImage" alt="{{movie.movieTitle}}">
            </div>
            <p class="list-inline-item mt-3">${{movie.moviePrice}}</p>
          </div>
          <a (click)="removeFromCart(movie?.movieId, movie?.moviePrice)" class="btn text-danger mb-5">Remove from cart</a>
      </div>
      <div class="list-inline float-right">
        <p class="list-inline-item mr-5" *ngIf="movies?.length !== 0">Total</p>
        <p class="list-inline-item ml-5 text-warning" *ngIf="movies?.length !== 0">${{totalPrice}}</p>
        <br>
        <button *ngIf="movies?.length !== 0" class="btn btn-primary pl-5 pr-5 text-center" (click)="openModal(template)">Checkout</button>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<ng-template #template>
    <div class="modal-header text-dark">
      <h4 class="modal-title">Check out</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-dark">
        <div class="row">
          <div class="col-md">
              <form>
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input [(ngModel)]="address.addr1" name="addr1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input [(ngModel)]="address.addr2" name="addr2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="form-group col-md">
                      <label for="inputCountry">Country</label>
                      <input [(ngModel)]="address.country" name="country" type="text" class="form-control" id="inputCountry" placeholder="United States">
                    </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="inputCity">City</label>
                      <input [(ngModel)]="address.city" name="city" type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md">
                      <label for="inputState">State</label>
                      <input [(ngModel)]="address.state" name="state" type="text" class="form-control" id="inputState">
                    </div>
                    <div class="form-group col-md">
                      <label for="inputZip">Zip</label>
                      <input [(ngModel)]="address.zip" name="zip" type="text" class="form-control" id="inputZip">
                    </div>
                  </div>
                </form>
          </div>
          <div class="col-md">
              <form>
                  <div class="form-group">
                    <label for="inputFirst">Cardholder's First Name</label>
                    <input name="first" [(ngModel)]="card.first" type="text" class="form-control" id="inputFirst">
                  </div>
                  <div class="form-group">
                      <label for="inputLast">Cardholder's Last Name</label>
                      <input name="last" [(ngModel)]="card.last" type="text" class="form-control" id="inputLast">
                  </div>
                  <div class="form-group">
                      <label for="inputNumber">Card Number</label>
                      <input name="number" [(ngModel)]="card.number" type="text" class="form-control" id="inputNumber" maxlength="16" minlength="16">
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputExpiration4">Expiration Date</label>
                        <input name="date" [(ngModel)]="card.date" type="text" class="form-control" minlength="4" maxlength="4" id="inputExpiration4" placeholder="MM/YY">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputSec">Security Code</label>
                        <input name="cvc" [(ngModel)]="card.cvc" type="text" maxlength="3" minlength="3" class="form-control" id="inputSec" placeholder="CVC">
                      </div>
                  </div>
                </form>
          </div>
        </div>
    </div>
    <button (click)="purchase()" class="btn btn-primary">Pay ${{totalPrice}}</button>
  </ng-template>
