.footer {
    background-color: #3f51b5;
    height: 20%;
  }

.logo {
    font-weight: 700;
    font-size: 30px;
}

.sign {
    margin-right: 55px;
}

.active {
    color: black;
}

.cartNumber {
    background-color: yellow;
    padding: 4px;
    border-radius: 100%;
    color: black;
}

img {
    width: 70%;
}

input {
    border-color: #3f51b5
}
