<div class="content">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #3f51b5;">
        <a class="navbar-brand" routerLink="/" class="navbar-brand">
          <span class="logo">XMR</span>
        </a>
      <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="show" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li routerLinkActive="active">
            <a class="nav-link text-white" [routerLink]="['/']" >Movies</a>
          </li>
          <div class="btn-group" dropdown>
              <a id="button-basic" dropdownToggle class="btn dropdown-toggle"
                      aria-controls="dropdown-basic">Genres
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li *ngFor="let genre of genres" role="menuitem"><a (click)="setGenreId(genre._id)" class="dropdown-item" [routerLink]="['/genres', genre.name]" >{{genre?.name | titlecase}}</a></li>
              </ul>
          </div>
        </ul>
        <form *ngIf="authService.user?.user?.name" class="form-inline input-group w-50 mr-md-auto mt-2 mt-md-0">
          <input class="form-control mr-sm-5" type="text" name="title" [(ngModel)]="movieTitle.title" placeholder="Search" aria-label="Search" (keyup)="openModal(template); searchMovies()">
        </form>
        <div *ngIf="authService.loggedIn" class="dropdown sign">
            <a (click)="toggleSignIn()" class="btn text-white dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In
            </a>
            <a [routerLink]="['/cart']" class="text-white"><i class="fas fa-shopping-cart"><span class="cartNumber" *ngIf="authService.cartNumber">{{authService.cartNumber}}</span></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" [class.show]="signIn">
              <a class="dropdown-item" [routerLink]="['/login']">Log In</a>
              <a class="dropdown-item" [routerLink]="['/register']">Create Account</a>
            </div>
          </div>
          <div *ngIf="!authService.loggedIn" class="dropdown sign">
            <a (click)="toggleSignIn()" class="btn text-white dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi {{authService.user?.user?.name | titlecase}}
            </a>
            <a [routerLink]="['/cart']" class="text-white"><i class="fas fa-shopping-cart"><span class="text-warning" *ngIf="authService.cartNumber">{{authService.cartNumber}}</span></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" [class.show]="signIn">
              <a class="dropdown-item" (click)="logOut()">Log Out</a>
              <hr>
              <a class="dropdown-item" [routerLink]="['/orders']">My orders</a>
              <a *ngIf="authService.user?.user?.isAdmin" class="dropdown-item" [routerLink]="['/admin/admin-movies']">Manage movies</a>
              <a *ngIf="authService.user?.user?.isAdmin" class="dropdown-item" [routerLink]="['/all-orders']">Manage orders</a>
            </div>
          </div>
      </div>
    </nav>
  </header>
  
  <router-outlet></router-outlet>

</div>

<!-- footer -->
<footer id="main-footer" class="text-white footer pt-4">
    <div class="container mt-4">
      <p class="text-center">Copyright &copy; 2018 Xtreme Movie Rentals</p>
      <p class="text-center">Made by <strong>Samuel Essim</strong></p>
    </div>
</footer>

<!-- modal -->

<ng-template #template>
    <div class="text-center mt-3 text-dark">
        <div class="form-group">
            <input class="form-control mr-sm-5 mr-1" type="text" name="title" [(ngModel)]="movieTitle.title" placeholder="Search" aria-label="Search" (keyup)="searchMovies()">
          </div>
    </div>
    <div class="modal-header text-dark">
      <h4 class="modal-title pull-left">Searched for movie with <span class="text-warning">{{movieTitle.title}}</span> as title</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-dark">
        <div class="col-md-4" *ngFor="let movie of movies">
            <div>
              <a (click)="setId(movie.objectID)" [routerLink]="['/movies', movie.title]" ><img [src]="movie.image" alt="{{movie.title}}" class="ml-4 movie-image mb-4"></a>
            </div>    
        </div>
    </div>
  </ng-template>
  