<div class="container">
  <div class="row">
    <div class="col-md justify-content-center">
     <div>
       <div><a [routerLink]="['/admin/admin-new']" class="btn btn-secondary mb-3" >
        New movie</a> <a (click)="getMovies()" class="btn btn-warning ml-2 mb-3" >
          Movies added by me</a></div>
          <p class="float-right font-weight-bold">Total number of movies: <span class="text-primary">{{totalItems}}</span></p>
        <div class="form-group">
            <input type="text" class="form-control" id="title" placeholder="Search movie..." 
            name="title" [(ngModel)]="movie.title" (keyup)="searchMovies()">
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Price to own</th>
                <th scope="col">Price to rent</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <h2 class="offset-md-5" *ngIf="movies == ''">No movie added</h2>
              <tr *ngFor="let movie of movies">
                <td class="image"><img [src]="movie.image" alt="movie.title"></td>
                <th scope="row">{{movie.title | titlecase}}</th>
                <td>{{movie.price}}</td>
                <td>{{movie.rentPrice}}</td>
                <td><a [routerLink]="['/admin/admin-edit', movie.title]" (click)="editMovie(movie._id)">Edit</a></td>
              </tr>
            </tbody>
          </table>
          <div class="offset-md-5" [ngClass]="{hide: hide}">
              <pagination [totalItems]="totalItems" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
          </div>
     </div>
    </div>
  </div>
</div>